*{
    font-family:monospace;
}
body{
    margin:0;
}
header{
    background-color:aqua;
    text-align: center;
    height:500px;
    padding-top:250px;
}
header h1{
    color:#0362fc;
    margin:0; 
}
.button{
    background-color:white;
    border-radius:10px;
    height:45px;
    border:none;
    width:150px;
    font-size:100%;
    cursor: pointer;
    text-decoration:none;
}
.button:hover{
    background-color:darkblue;
    color:white;
}
img{
    height:500px;
    margin-bottom:20px;
    border-radius:10px;
}
section{
    height:100vh;
    border:1px solid gray;
    border-radius:20px;  
    margin-bottom:20px;
    text-align:center;
}
main{
    padding:20px;
}
.submit{
    background-color:green;
    color:white;
    border-radius:10px;
    height:45px;
    border:none;
    width:150px; 
    cursor: pointer;
}
.submit:hover{
    color:white;
    background-color:blueviolet;
}
input{
    border-radius:15px;
    padding:10px;
}
#About{
    background-color:rgba(0, 0, 0, 0.85);
    color:white;
    text-align:center;
}
#About p{
    font-size:15px;
}
#Skills{
    padding-top:50vh;
    background-color:rgba(0, 0, 0, 0.85);
    color:white;
}
#Skills h1{
    font-size:50px;
}
#Skills ol{
    list-style-position:inside;
    font-size:30px;
}
#Skills li{
    padding:5px 0;
}
#Skills li:hover{
    transform: translateX(5px); 
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}
#interest{
    padding-top:50vh;
    background-color:rgba(0, 0, 0, 0.85);
    color:white;
}
#interest h2{
    font-size:30px;
}
#interest ul{
    list-style-position:inside;
    font-size:30px;
}
#interest li{
    padding:5px 0;
}
#interest li:hover{
    transform: translateX(5px); 
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}
#Contact{
    padding-top:50vh;  
    background-color: rgba(0, 0, 0, 0.85);
    color:white;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    justify-content: center;
    font-size:30px;
}
.form-group{
    margin-top:20px;
}
label {
    margin-bottom:5px;
    font-weight: bold;
}
#name,
#email{
    width:50vh;
}
input[type="text"],
input[type="email"],
textarea {
     padding: 8px;
     border-radius: 8px;
     margin-bottom:10px;
}
textarea{
    width:50vh;
}
#top{
    position:relative;
    left:350px;
    width:150px;
    background-color: black;
    color:white;
    font-size:20px;
}
#top:hover{
    background-color:paleturquoise;
    color:black;
}
.last {
    padding: 10px;
    background-color: green;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    width:150px;
    font-size:20px;
}
button:hover {
  background-color: darkgreen;
}


footer{
    background-color:black;
    color:white;
    text-align:center;
    height: 35px;
    padding: top 10px;
    font-size:20px;
}